<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
       xmlns 即 xml namespace  xml使用的命名空间
       xmlns:xsi 即xml schema instance xml 遵守的具体规范
       xsi:schemaLocation 本文档xml遵守的规范 官方指定
     -->
    <!-- 空构造 -->
    <bean id="helloService" class="com.yuanziren.service.HelloService"></bean>

    <!-- 静态工厂 -->
<!--    <bean id="helloService" class="com.yuanziren.factory.StaticFactory" factory-method="getHelloService"></bean>-->

    <!-- 实例化工厂 -->
<!--    <bean id="initFactory" class="com.yuanziren.factory.InitFactory"></bean>-->
<!--    <bean id="helloService" factory-bean="initFactory" factory-method="getHelloService"></bean>-->


    <!--<import resource="dao.xml"/>-->
<!--    <import resource="service.xml"/>-->
    <!--<import resource="controller.xml"/>-->
</beans>